.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #ccc;
  margin: 20px;
}

.auth-component {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 2px solid black;
  margin: 20px auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .auth-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .auth-component {
    width: 45%;
    margin: 0;
  }
}
